// /* You can add global styles to this file, and also import other style files */
// /* You can add global styles to this file, and also import other style files */

body {
  min-height: 90vh;
  font-size: 16px;
}

img {
  max-width: 100%;
}

a {
  //color: #00885b;
  font-weight: 600;
  font-size: 15px;
  text-decoration: underline;
}

main {
  min-height: 90vh;
}

#wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 20px auto;
}

#main-content {
  width: 100%;
}

.padding-0 {
  padding: 0;
}

.border-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
}

.mar-btm {
  margin-bottom: 25px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote, caption, cite, table {
	font-family: 'Notosans-Regular', Helvetica, Arial, sans-serif;
}

.btn {
  outline: none;
  border: none;
  background-color: #ff6e40;
  color: #fff;
  //border: 1.3px solid #555564;
  border-radius: 6px;
  padding: 0px 14px;
}

ul {
  list-style-type: none;
  }

li {
  list-style-type: none;
  }